{% extends "temps/navbar.html" %}
{% block section %}
<div class="mcon">
    <h2>{{ playlist.name }} - Playlist Movies</h2>
    <div id="results" class="results-grid">
        {% for movie in movies %}
        <div class="result-item" id="movie-{{ movie.id }}" onclick="showMovieDetails('{{ movie.imdb_id }}')">
            <img src="{{ movie.mv_poster }}" alt="{{ movie.mv_name }} poster">
            <h3>{{ movie.mv_name }}</h3>
            <p>{{ movie.mv_year }}</p>

        </div>
        {% endfor %}
    </div>
</div>
<script>
    function showMovieDetails(imdbID) {
        window.location.href = `/movie/${imdbID}`;
    }
</script>
{% endblock %}
